.loader-loading, .loader-ending {
   margin: 0;
   background: linear-gradient(270deg, green,steelblue, slategray);
   height: 0.3em;  
}
.loader-loading{
   animation: progress-loading 5s ease-in;
}
@keyframes progress-loading {
   0% { width: 0; }
   100% { width: 100%; }
}
.loader-ending {
   /* '1s' is related to the time configured on the interceptor */
   animation: progress-ending 1s ease; 
}
@keyframes progress-ending {
   0% { opacity: 1; }
   100% { opacity: 0; }
}
.loader-stopped{
   display: none;
}
/* KeyFrames usage recommendation 

.your-class {
    animation: you-key-frames ease 2s;
    -webkit-animation: you-key-frames ease 2s;
    -moz-animation: you-key-frames ease 2s;
    -o-animation: you-key-frames ease 2s;
    -ms-animation: you-key-frames ease 2s;
}
@keyframes you-key-frames {
    0% { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes you-key-frames {
    0% { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes you-key-frames {
    0% { opacity:1; }
    100% { opacity:0; }
}
@-o-keyframes you-key-frames {
    0% { opacity:1; }
    100% { opacity:0; }
}
@-ms-keyframes you-key-frames {
    0% { opacity:1; }
    100% { opacity:0; }
} 
*/