.notifier{
    position: fixed;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.3rem;
}
.notifier-type-success{
    background-color: greenyellow;
}
.notifier-type-error{
    background-color: tomato;
}
.notifier-type-warning{
    background-color: orange;
}
.notifier-type-info{
    background-color: lightsteelblue;
}
.notifier-position-top{
    top: 0;
}
.notifier-position-bottom{
    bottom: 0;
}
.notifier-position-right{
    right: 0;
}
.notifier-position-lef{
    left: 0;
}